<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-list *ngIf="!isLoading">
  <img [src]="video?.imagePath" [alt]="video?.title">
<div class="left">
  <mat-list-item>
    <p matLine> <span> Title: </span> <span> {{ video?.title}} </span></p>
  </mat-list-item>
  <mat-list-item>
    <p matLine> <span> Running Time: </span> <span> {{ video?.runningTime}} </span></p>
  </mat-list-item>
  <mat-list-item>
    <p matLine> <span> Genre: </span> <span> {{ video?.genre}} </span></p>
  </mat-list-item>
  <mat-list-item>
    <p matLine> <span> Rating: </span> <span> {{ video?.rating}} </span></p>
  </mat-list-item>
  <mat-list-item>
    <p matLine> <span> Director: </span> <span> {{ video?.director}} </span></p>
  </mat-list-item>
</div>
</mat-list>
<form (submit)="onReserveVideo(reserveForm)" #reserveForm="ngForm" *ngIf="!isLoading" >
  <mat-form-field >
    <mat-select #customerInput="ngModel"
    [(ngModel)]="selectedCustomer"
    name="customerName">
      <!-- <ng-container *ngFor="let customer of customers">
        <mat-option *ngIf="customer.status == 'Active'" [value]="customer.firstname">
          {{ customer.firstname + " " + customer.lastname }}
        </mat-option>
      </ng-container> -->
      <mat-option *ngFor="let customer of customers | statusFilter" [value]="customer.firstname" >
        {{ customer.firstname + " " + customer.lastname }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="customerInput.invalid">Please enter a valid status.</mat-error>
  </mat-form-field>
  <a mat-button
    type="button"
    color="warn"
    routerLink='/' routerLinkActive="router-link-active" >Back</a>
  <button
    mat-raised-button
    color="accent"
    type="submit">Reserve</button>
  </form>
