<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="customers.length > 0 && !isLoading">
<mat-form-field>
    <input matInput type="text" class="form-control" [(ngModel)]="searchText" name="search" placeholder="Type first or last name" />
  </mat-form-field>
  <mat-expansion-panel *ngFor="let customer of customers | customerFilter: searchText">
    <mat-expansion-panel-header>
      {{ customer.firstname }}  {{ customer.lastname }}
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item>
          <p matLine> <span> Address: </span> <span> {{ customer?.address}} </span></p>
        </mat-list-item>
        <mat-list-item>
            <p matLine> <span> City: </span> <span> {{ customer?.city}} </span></p>
        </mat-list-item>
        <mat-list-item>
            <p matLine> <span> Phone: </span> <span> {{ customer?.phone}} </span></p>
        </mat-list-item>
        <mat-list-item>
            <p matLine> <span> Status: </span> <span> {{ customer.status}} </span></p>
        </mat-list-item>
    </mat-list>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editcustomer', customer.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(customer.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalCustomers" [pageSize]="customersPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="customers.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="customers.length <= 0 && !isLoading">No customers added yet!</p>
